/* Fonts */
@import "./assets/fonts/_fonts.css";

/* Tailwindcss */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* colors */
	--color-black: #202021;
	--color-light: #EEEEEE;
	--color-item-light: #DDDDDD;
	--color-item-dark: #323233;
	--color-text-grey: #616161;

	/* fonts */
	--font-rubik: "Rubik", sans-serif;
}
