/* Fonts */
@import "./assets/fonts/_fonts.css";

/* Tailwindcss */
@import "tailwindcss";

@theme {
	/* colors */
	--color-black: #202020;
	--color-main-bg: #f0f4f5;
	--color-main-bg: #f0f4f5;
	--color-item-light: #d3dee3;

	/* fonts */
	--font-rubik: "Rubik", sans-serif;
}
